body._lock {
   overflow: hidden;
}
.container {
   max-width: $maxWidthContainer;
   padding: 0 $containerPadings;
   margin: 0 auto;
}
.header {
   position: fixed;
   padding: 45px 0;
   width: 100%;
   z-index: 10;
   &__container {
      position: relative;
   }
   &__burger {
      width: 30px;
      height: 32px;
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      right: 20px;
      top: -20px;

      &.active {
         span {
            &:first-child {
               top: 50%;
               transform: translate(0, -50%);
               transform: rotate(45deg);
            }

            &:last-child {
               top: 50%;
               transform: translate(0, -50%);
               transform: rotate(-45deg);
            }
            &:nth-child(2) {
               transform: scale(0);
            }
         }
      }

      span {
         transition: all 0.2s ease-in-out;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 4px;
         background-color: $color-white;
         border: 1px solid $color-black;
         &:first-child {
            top: 0px;
         }

         &:last-child {
            top: unset;
            bottom: 0px;
         }
         &:nth-child(2) {
            top: 50%;
            transform: translate(0, -50%);
         }
      }
      @media (min-width: 768px) {
         display: none;
      }
   }

   &__active {
      background: $color-black;
      padding: 35px 0;

      @media (min-width: 768px) {
         padding: 30px 0;
      }
   }
}

.nav {
   &__menu {
      text-align: center;
      transition: all 0.3s ease-in-out;
      transform: translate(100%, 0);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: fixed;
      z-index: 2;
      @media (min-width: 768px) {
         display: flex;
         gap: toRem(65);
         transform: translate(0, 0);
         position: static;
         height: auto;
      }
   }

   &__active {
      background-color: $color-black;
      z-index: 1;
      padding: toRem(30);
      transform: translate(0, 0);
   }

   &__link {
      font-style: normal;
      font-weight: 500;

      font-size: toRem(18);
      line-height: 20px;
      color: $color-grey;
      font-size: toRem(28);
      line-height: 32px;
      margin-top: toRem(40);
      display: inline-block;

      &:hover {
         color: $color-red;
      }
      @media (min-width: 768px) {
         font-size: toRem(18);
         line-height: 20px;
         margin-top: 0px;
      }
   }

   &__link-active {
      color: $color-red;
      position: relative;
      &::before {
         content: "";
         background: url("../img/nav_decoratorpng.png") 50% / cover no-repeat;
         position: absolute;
         z-index: -1;
         width: 100px;
         height: 100px;
         top: -25px;
         left: -10px;
         @media (min-width: 768px) {
            width: 80px;
            height: 80px;
         }
      }
   }
}
