.swiper__work {
}
.works {
   position: relative;
   &::before {
      position: absolute;
      left: 0;
      top: 100px;
      z-index: -1;
      width: 200px;
      height: 200px;
      content: "";
      background: url("../img/bg_works.png") 50% / cover no-repeat;

      @media (min-width: 768px) {
         left: 100px;
         top: unset;
         bottom: 100px;
      }
   }
}
.swiper {
   &__work {
      min-width: 0;
      width: 100%;

      img {
         height: 100%;
         text-align: center;
         width: 100%;
         min-height: 300px;
         object-fit: cover;
      }
      .block__image {
         max-height: 600px;
         min-height: 300px;
         transition: all 0.3 easy;
         @media (min-width: 768px) {
            min-width: 475px;
         }
         &:hover {
            img {
               filter: grayscale(0);
            }
         }
      }
   }

   .swiper-button-next,
   .swiper-button-prev {
      background-color: $color-grey;
      padding: 5px;
      width: 60px;
      height: 48px;

      @media (max-width: 768px) {
         top: calc(50% - 120px);
      }
   }

   .swiper-button-prev {
      left: 35px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
   }
   .swiper-button-next {
      @media (max-width: 768px) {
         left: unset;
         right: 35px;
      }
      @media (min-width: 1350px) {
         left: 450px;
      }

      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
   }

   .swiper-button-next:after,
   .swiper-button-prev:after {
      content: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.255 10.5L12.885 15.885L15 18L24 9L15 0L12.885 2.115L18.255 7.5H0V10.5H18.255Z' fill='white'/%3E%3C/svg%3E%0A");
      position: absolute;
      left: 15px;
   }
   .swiper-button-next:after {
      top: -3px;
   }
   .swiper-button-prev:after {
      transform: rotate(180deg);
      top: 10px;
   }

   .swiper-pagination-bullet {
      width: 80px;
      height: 6px;
      background-color: $color-grey;
      border-radius: unset;
      position: relative;
      span {
         display: none;
         position: absolute;
         top: -15px;
         left: 0px;
      }
   }
   .swiper-pagination-bullet-active {
      background: $color-black;

      span {
         display: block;
      }
   }
   .swiper-horizontal > .swiper-pagination-bullets,
   .swiper-pagination-bullets.swiper-pagination-horizontal,
   .swiper-pagination-custom,
   .swiper-pagination-fraction {
      @media (min-width: 1350px) {
         left: 65px;
         bottom: 0;
      }
   }
   .block__image {
      //padding: 0px 0px 60% 0px;
      //overflow: hidden;
      //position: relative;
      //img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //}
   }
   .block__image-decoration {
   }
}
.swiper-wrapper {
   padding-bottom: 40px;
   @media (min-width: 768px) {
      padding: 50px 35px;
   }
}

.block {
   &__info-sub-title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 27px;
      color: $color-red;
      margin-bottom: 25px;
   }
   &__info-footer {
   }
   &__info-description {
   }
}

.tech {
   &__container {
      margin-bottom: 45px;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      flex-wrap: wrap;
   }

   &__block {
      background: $color-grey;
      color: $color-white;
      border-radius: 4px;
      padding: 8px 12px;
   }
}
