$maxWidthContainer: 1290px;
$containerPadings: 15px;
$maxWidthContain: 1290;

$maxWidth: 1920;
$font-family: "LeagueSpartan";

$color-black: #000c24;
$color-white: #fbfbfb;
$color-red: #f44336;
$color-grey: #928a97;
