$maxWidthContainer: 1290px;
$containerPadings: 15px;
$maxWidthContain: 1290;

$maxWidth: 1920;
$font-family: "LeagueSpartan";

$color-black: #000c24;
$color-white: #fbfbfb;
$color-red: #f44336;
$color-grey: #928a97;
$color-redux: #764abc;
$color-react: #61dafb;
$color-typescript: #007acc;
$color-javascript: #f1dc50;
$color-sass: #cc6699;
$color-css: #0096e6;
$color-html: #fb8028;
$color-gulp: #d34a47;
