
	@font-face {
	font-family: LeagueSpartan;
	font-display: swap;
	src: url("../fonts/LeagueSpartan-Regular.ttf") format("ttf"),  url("../fonts/LeagueSpartan-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
	@font-face {
	font-family: LeagueSpartan;
	font-display: swap;
	src: url("../fonts/LeagueSpartan-Medium.ttf") format("ttf"),  url("../fonts/LeagueSpartan-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	}
	@font-face {
	font-family: LeagueSpartan;
	font-display: swap;
	src: url("../fonts/LeagueSpartan-Bold.ttf") format("ttf"),  url("../fonts/LeagueSpartan-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	}
	@font-face {
	font-family: LeagueSpartan;
	font-display: swap;
	src: url("../fonts/LeagueSpartan-SemiBold.ttf") format("ttf"),  url("../fonts/LeagueSpartan-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	}